# Go specific
#
# Binary files
*.exe
*.dll
*.so
*.dylib
*.out
*.a

# Build artifacts
/build/
bin/
vendor/

# Buf Code Generation
gen/

#MISC
data/

# Binary files
*.exe
*.dll
*.so
*.dylib
*.out
*.a

# Build artifacts
/build/
bin/
vendor/

.env
config/envs/.env*
deploy/docker/envs/.env.*

# Docker
deploy/docker/dynamodb/*
deploy/docker/dynamodb/shared-local-instance.db

#
# Terraform Specific
# Ignore Terraform local state files
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.backup

# Ignore Terraform provider-related files
.terraform/
.terraform.lock.hcl

# Ignore variables containing sensitive information
*.tfvars
*.tfvars.json

# Ignore AWS credentials (if used)
.aws/
aws_access_keys.txt

# Ignore logs & debugging files
*.log
*.out
*.err

# Ignore IDE-specific & system files
.vscode/
.idea/
.DS_Store
Thumbs.db
.aider*
